@model IEnumerable<TagDto>

@{
    var currentTag = new TagDto();
}

<div class="row expanded">
    <div class="col-md-3">
        <div class="admin-canvas-content">
            <div class="row">
                <div class="large-12 columns">
                    <div class="clearfix">
                        <button id="js-tag-add" class="btn btn-default float-right add">
                            Add
                        </button>
                    </div>
                    <ul class="admin-collection-list">
                        @foreach (var tag in Model)
                        {
                            <li data-tag-id="@tag.TagId"><span>@tag.Name</span></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="admin-canvas-content">
            <div class="row">
                <div class="large-12 columns">
                    <div class="clearfix">
                        <span id="tagId" class="record-id"></span>
                        <button id="saveCommand" class="btn btn-default float-right save">Save</button>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="name" class="label-font">Tên</label>
                            <input type="text" class="form-control height-input" id="name" />
                        </div>
                        <div class="form-group">
                            <label for="url" class="label-font">url</label>
                            <input type="text" class="form-control height-input" id="url" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        //PUT
        $(document).ready(function () {
            //GET
            $('.admin-collection-list li').click(function (e) {
                e.preventDefault()
                $that = $(this);
                $that.parent().find('li').removeClass('selected');
                $that.addClass('selected');
                ///TODO: Call current selected
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "/api/tags/" + $that.attr("data-tag-id"),
                    success: function (data) {
                        var json = JSON.parse(JSON.stringify(data));
                        document.getElementById("tagId").innerText = json["tagId"];
                        //$('#tagId').val(json["tagId"]);
                        $('#name').val(json["name"]);
                        $('#url').val(json["url"]);
                    },
                    error: function (error) {

                        jsonValue = jQuery.parseJSON(error.responseText);
                        alert("error" + error.responseText);
                    }
                });
            });

            //PUT
            $("#saveCommand").click(function (e) {
                var link = $(e.target);
                var tagID = $('#tagId').text();
                if ($.isNumeric(tagID) == false) {
                    bootbox.alert("Bạn chưa chọn thông tin cần chỉnh sửa!");
                    return;
                }
                var tagNAME = document.getElementById("name").value;
                var tagURL = document.getElementById("url").value;
                var data = {
                    tagId: tagID,
                    name: tagNAME,
                    url: tagURL
                };

                var tagDTO = JSON.stringify(data)

                bootbox.confirm({
                    message: "Bạn có muốn lưu Tag này không?",
                    buttons: {
                        confirm: {
                            label: 'Đồng Ý',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'Không',
                            className: 'btn-default'
                        }
                    },
                    callback: function (result) {
                        if (result == true) {
                            $.ajax({
                                url: '/api/tags/' + tagID,
                                dataType: "json",
                                type: "PUT",
                                contentType: 'application/json; charset=utf-8',
                                data: tagDTO,
                                async: true,
                                processData: false,
                                cache: false,
                                success: function (data) {
                                    console.log(data);
                                },
                                error: function (xhr) {
                                    console.log('error');
                                }
                            });
                        }
                    }
                });

            });//

            //POST
            $("#js-tag-add").click(function (e) {
                var link = $(e.target);
                var data = {

                    name: 'name1',
                    url: 'name1'
                };

                var tagDTO = JSON.stringify(data)

                bootbox.confirm({
                    message: "Bạn có muốn thêm mới Tag không?",
                    buttons: {
                        confirm: {
                            label: 'Có',
                            className: 'btn-info'
                        },
                        cancel: {
                            label: 'Không',
                            className: 'btn-default'
                        }
                    },
                    callback: function (result) {
                        if (result == true) {
                            $.ajax({
                                url: '/api/tags/',
                                dataType: "json",
                                type: "POST",
                                contentType: 'application/json; charset=utf-8',
                                data: tagDTO,
                                async: true,
                                processData: false,
                                cache: false,
                                success: function (data) {
                                    var json = JSON.parse(JSON.stringify(data));
                                    document.getElementById("tagId").innerText = json["tagId"];
                                    //$('#tagId').val(json["tagId"]);
                                    $('#name').val(json["name"]);
                                    $('#url').val(json["url"]);
                                },
                                error: function (xhr) {
                                    console.log('error');
                                }
                            });
                        }
                    }
                });
            });//
        });
    </script>
}