@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper "Pioneer.Pagination.PioneerPaginationTagHelper, Pioneer.Pagination"
@model LGG.Core.Dtos.CompanyDto
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="content-box-header panel-heading">
    <div class="panel-title ">Cập Nhật Thông Tin Công Ty</div>
</div>
<div class="content-box-large box-with-header">
    <form class="form-horizontal" asp-controller="Companies" asp-action="Index" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Tên Công Ty</label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control height-input" id="name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Sologan" class="col-sm-2 control-label">Sologan</label>
            <div class="col-sm-10">
                <input asp-for="Sologan" class="form-control height-input" id="sologan">
                <span asp-validation-for="Sologan" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Hotline" class="col-sm-2 control-label">Hotline</label>
            <div class="col-sm-5">
                <input asp-for="Hotline" class="form-control height-input" id="hotline">
                <span asp-validation-for="Hotline" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Phone" class="col-sm-2 control-label">Điện Thoại</label>
            <div class="col-sm-5">
                <input asp-for="Phone" class="form-control height-input" id="phone">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-5">
                <input asp-for="Email" placeholder="Email để nhận lời nhắn khách gửi từ trang web." class="form-control height-input" id="email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="ContactEmail" class="col-sm-2 control-label">Email Liên Hệ</label>
            <div class="col-sm-5">
                <input asp-for="ContactEmail" class="form-control height-input" id="contactEmail">
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="SupportEmail" class="col-sm-2 control-label">Email Hỗ Trợ</label>
            <div class="col-sm-5">
                <input asp-for="SupportEmail" class="form-control height-input" id="supportEmail">
                <span asp-validation-for="SupportEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Website" class="col-sm-2 control-label">Website</label>
            <div class="col-sm-5">
                <input asp-for="Website" class="form-control height-input" id="website">
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="TimeWork" class="col-sm-2 control-label">Thời Gian Làm Việc</label>
            <div class="col-sm-5">
                <input asp-for="TimeWork" class="form-control height-input" id="timework">
                <span asp-validation-for="TimeWork" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Address" class="col-sm-2 control-label">Địa Chỉ</label>
            <div class="col-sm-10">
                <input asp-for="Address" class="form-control height-input" id="address">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="Latitude" class="col-sm-2 control-label">Vĩ Độ</label>
            <div class="col-sm-10">
                <input asp-for="Latitude" placeholder="Vĩ độ hiển thị bản đồ địa chỉ (Google Map)" class="form-control height-input" id="latitude">
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Longitude" class="col-sm-2 control-label">Kinh Độ</label>
            <div class="col-sm-10">
                <input asp-for="Longitude" placeholder="Kinh độ hiển thị bản đồ địa chỉ (Google Map)" class="form-control height-input" id="longitude">
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Logo" class="col-sm-2 control-label">Logo</label>
            <div class="col-sm-10">
                <input asp-for="Logo" placeholder="Logo công ty" class="form-control height-input" id="logo">
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Avatar" class="col-sm-2 control-label">Avatar</label>
            <div class="col-sm-10">
                <input asp-for="Avatar" placeholder="Ảnh đại diện tác giả" class="form-control height-input" id="avatar">
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Description" class="col-sm-2 control-label">Mô Tả Ngắn</label>
            <div class="col-sm-10">
                <input asp-for="Description" class="form-control height-input" id="description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="About.Content" class="col-sm-2 control-label">Về Chúng Tôi</label>
            <div class="col-sm-10">
                <textarea asp-for="About.Content"></textarea>
                <span asp-validation-for="About.Content" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="WhyChooseUs" class="col-sm-2 control-label">Tại Sao Chọn Chúng Tôi</label>
            <div class="col-sm-10">
                <textarea asp-for="WhyChooseUs"></textarea>
                <span asp-validation-for="WhyChooseUs" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Privacy.Content" class="col-sm-2 control-label">Privacy</label>
            <div class="col-sm-10">
                <textarea asp-for="Privacy.Content"></textarea>
                <span asp-validation-for="Privacy.Content" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="TermsOfUse.Content" class="col-sm-2 control-label">Terms Of Use</label>
            <div class="col-sm-10">
                <textarea asp-for="TermsOfUse.Content"></textarea>
                <span asp-validation-for="TermsOfUse.Content" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Facebook" class="col-sm-2 control-label">Facebook</label>
            <div class="col-sm-10">
                <input asp-for="Facebook" class="form-control height-input" id="facebook">
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Twitter" class="col-sm-2 control-label">Twitter</label>
            <div class="col-sm-10">
                <input asp-for="Twitter" class="form-control height-input" id="twitter">
                <span asp-validation-for="Twitter" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Google" class="col-sm-2 control-label">Google</label>
            <div class="col-sm-10">
                <input asp-for="Google" class="form-control height-input" id="google">
                <span asp-validation-for="Google" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="LinkedIn" class="col-sm-2 control-label">LinkedIn</label>
            <div class="col-sm-10">
                <input asp-for="LinkedIn" class="form-control height-input" id="linkedIn">
                <span asp-validation-for="LinkedIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Pinterest" class="col-sm-2 control-label">Pinterest</label>
            <div class="col-sm-10">
                <input asp-for="Pinterest" class="form-control height-input" id="pinterest">
                <span asp-validation-for="Pinterest" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="Instagram" class="col-sm-2 control-label">Instagram</label>
            <div class="col-sm-10">
                <input asp-for="Instagram" class="form-control height-input" id="instagram">
                <span asp-validation-for="Instagram" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" value="Lưu" />
            </div>
        </div>
    </form>
</div>

