@{
    ViewData["Title"] = "Trang Chủ";
}
@section loaderWrapper{
    <div id="loader-wrapper" class="loader-on">
        <div id="loader" class="mower-loader">
            <div class="mower"> <img src="images/lawnmower.png" alt=""> </div>
            <div class="grass"></div>
            <div class="text">Loading...</div>
        </div>
    </div>
}
<!-- Section: slide -->
@await Component.InvokeAsync("SlideHome")

<!-- Section: SERVICE & About -->
<section class="content content--fill content--fill--light top-null">
    <div class="container">
        @await Component.InvokeAsync("ServiceHome")
        @await Component.InvokeAsync("AboutHome")        
    </div>
</section>
<!-- Section: About & Difference Video & WhyChoose -->
<section class="content content--parallax top-null" data-image="/images/parallax-bg.jpg" style="background-image: url(&quot;images/parallax-bg.jpg&quot;); background-position: 50% 26px;">
				<div class="container">
					<h2 class="text-center white lined">Our Difference</h2>
					<div class="iconcircle-wrap">
						<div class="iconcircle iconmove">
							<div class="iconcircle__icon"> <span><i class="icon icon-transport"></i></span> </div>
							<div class="iconcircle__title"> Clean, Branded Vehicles </div>
						</div>
						<div class="iconcircle iconmove">
							<div class="iconcircle__icon"> <span><i class="icon icon-people"></i></span> </div>
							<div class="iconcircle__title"> Professional, Uniformed Personnel </div>
						</div>
						<div class="iconcircle iconmove">
							<div class="iconcircle__icon"> <span><i class="icon icon-phone-auricular"></i></span> </div>
							<div class="iconcircle__title"> Timely Response Guarantee </div>
						</div>
						<div class="iconcircle iconmove">
							<div class="iconcircle__icon"> <span><i class="icon icon-lawn-mowet"></i></span> </div>
							<div class="iconcircle__title"> Safe, Reliable Equipment Maintained Daily </div>
						</div>
						<div class="iconcircle iconmove">
							<div class="iconcircle__icon"> <span><i class="icon icon-analytic-report"></i></span> </div>
							<div class="iconcircle__title"> Status and Quality Reports Delivered Timely </div>
						</div>
					</div>
				</div>
			</section>

 @await Component.InvokeAsync("WhyChooseUs") 


<!-- Section: Our Gallery & Customer Say -->
<section class="content">
    <div class="container">
        @await Component.InvokeAsync("OurGalleryHome")
        <div class="divider"></div>
        @await Component.InvokeAsync("CustomerSayHome")
        @await Component.InvokeAsync("PostForHome")
    </div>
</section>
 <!--MODAL-->
    <div id="modalForm1" class="form-modal">
        <form class="quote-form" method="post" id="form1">
            <h3>Quote Form</h3>
            <div class="successform successQuote">
                <p>Your message was sent successfully!</p>
            </div>
            <div class="errorform errorQuote">
                <p>Something went wrong, try refreshing and submitting the form again.</p>
            </div>
            <div class="form-inline">
                <input type="text" name="name" class="form-control input--wd" value="" placeholder="Your Name">
            </div>
            <div class="form-inline">
                <div>
                    <input type="text" name="email" class="form-control input--wd" value="" placeholder="Your E-mail">
                </div>
            </div>
            <div class="form-inline">
                <div>
                    <input type="text" name="phone" class="form-control input--wd" value="" placeholder="Phone number">
                </div>
            </div>
            <div class="form-inline">
                <input type="text" name="address" class="form-control input--wd" value="" placeholder="Your Address">
            </div>
            <div class="form-inline">
                <div class="select-wrapper select--full">
                    <select name="select" class="select--wd">
                        <option value="Service you need">Service you need</option>
                        <option value="Tree service">Tree service</option>
                        <option value="Junk Removal">Junk Removal</option>
                        <option value="New tree planting">New tree planting</option>
                        <option value="Retaining walls">Retaining walls</option>
                    </select>
                </div>
            </div>
            <div class="form-inline">
                <textarea name="message" class="form-control input--wd input--full" placeholder="Details"></textarea>
            </div>
            <button type="submit" class="btn btn--wd"><i class="icon icon-nature-2"></i>GỬI YÊU CẦU</button>
        </form>
    </div>