@{
    ViewData["Title"] = "Trang Chủ";
}
@section loaderWrapper{
    <div id="loader-wrapper" class="loader-on">
        <div id="loader" class="mower-loader">
            <div class="mower"> <img src="images/lawnmower.png" alt=""> </div>
            <div class="grass"></div>
            <div class="text">Loading...</div>
        </div>
    </div>
}
<!-- Section: slide -->
@await Component.InvokeAsync("SlideHome")

<!-- Section: SERVICE & About -->
<section class="content content--fill content--fill--light top-null">
    <div class="container">
        @await Component.InvokeAsync("ServiceHome")
        @await Component.InvokeAsync("AboutHome")        
    </div>
</section>

<section class="content content--parallax top-null" data-image="/images/parallax-bg.jpg">
                <div class="container">
                    <h2 class="text-center white lined">Our Difference</h2>
                    <div class="iconcircle-wrap">
                        <div class="iconcircle iconmove">
                            <div class="iconcircle__icon"> <span><i class="icon icon-transport"></i></span> </div>
                            <div class="iconcircle__title"> Clean, Branded Vehicles </div>
                        </div>
                        <div class="iconcircle iconmove">
                            <div class="iconcircle__icon"> <span><i class="icon icon-people"></i></span> </div>
                            <div class="iconcircle__title"> Professional, Uniformed Personnel </div>
                        </div>
                        <div class="iconcircle iconmove">
                            <div class="iconcircle__icon"> <span><i class="icon icon-phone-auricular"></i></span> </div>
                            <div class="iconcircle__title"> Timely Response Guarantee </div>
                        </div>
                        <div class="iconcircle iconmove">
                            <div class="iconcircle__icon"> <span><i class="icon icon-lawn-mowet"></i></span> </div>
                            <div class="iconcircle__title"> Safe, Reliable Equipment Maintained Daily </div>
                        </div>
                        <div class="iconcircle iconmove">
                            <div class="iconcircle__icon"> <span><i class="icon icon-analytic-report"></i></span> </div>
                            <div class="iconcircle__title"> Status and Quality Reports Delivered Timely </div>
                        </div>
                    </div>
                </div>
            </section>

<!-- Section: About & Difference Video & WhyChoose -->
 <section class="content content--fill content--fill--light top-null">
    @await Component.InvokeAsync("WhyChooseUs") 
    <div class="divider"></div>
    @await Component.InvokeAsync("OurGalleryHome")
    <div class="divider"></div>
    @await Component.InvokeAsync("CustomerSayHome")
    @await Component.InvokeAsync("PostForHome")
</section>