@{
    ViewData["Title"] = "Home";
}

<!-- Section: slide -->
@await Component.InvokeAsync("SlideHome")

<!-- Section: SERVICE & About -->
<section class="content content--fill content--fill--light top-null">
    <div class="container">
        @await Component.InvokeAsync("ServiceHome")
        @await Component.InvokeAsync("AboutHome")
    </div>
</section>


<!-- Section: Difference -->
@await Component.InvokeAsync("DifferenceHome")

<!-- Section: Video & WhyChoose -->
@await Component.InvokeAsync("WhyChooseHome")

<!-- Section: Our Gallery & Customer Say -->

<section class="content content--fill content--fill--light">
    <div class="container">
        @await Component.InvokeAsync("OurGalleryHome")
        <div class="divider"></div>
        @await Component.InvokeAsync("CustomerSayHome")
    </div>
</section>


@await Component.InvokeAsync("LatestNewHome")