@using Microsoft.AspNetCore.Identity
@using LGG.Core.Models
@model LGG.Core.ViewModels.LoginViewModel
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Log in";
}
<div style="display:table; margin:0 auto">
    <div>
        <br />
        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <h4>Đăng nhập tài khoản quản trị</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <label asp-for="Email">
                Email
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </label><br />
            <label asp-for="Password">
                Mật Khẩu
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </label><br />
            <button type="submit" class="btn btn--wd btn-primary">Đăng Nhập</button>
        </form>
        <br />
    </div>
</div>
