<section class="content content--fill content--fill--light top-null">
    <div class="container">
        <h2 class="text-center lined">Latest News</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="blog-preview animation" data-animation="fadeInLeft" data-animation-delay="0.5s">
                    <div class="blog-preview-image">
                        <img src="images/img-blog-preview-1.jpg" alt="">
                    </div>
                    <div class="blog-preview-text">
                        <div class="blog-post-title">
                            Lawn Preparation Work for Winter
                        </div>
                        <div class="blog-preview-date">
                            March 20, 2017
                        </div>
                        <div class="blog-preview-teaser">
                            Many people are under the impression that there is nothing that they can do about the way that their lawn looks in the winter months. It's important to clean up fallen leaves before winter sets in. When left on your lawn, leaves can smother and kill the grass.
                        </div>
                        <div class="blog-preview-link text-right"><a href="blog-single.html"><i class="icon-move-to-next"></i><i class="icon-move-to-next"></i><i class="icon-move-to-next"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="blog-preview animation" data-animation="fadeIn" data-animation-delay="0s">
                    <div class="blog-preview-image">
                        <img src="images/img-blog-preview-2.jpg" alt="">
                    </div>
                    <div class="blog-preview-text">
                        <div class="blog-post-title">
                            Lawn Care Tips for the Spring Season
                        </div>
                        <div class="blog-preview-date">
                            April 18, 2017
                        </div>
                        <div class="blog-preview-teaser">
                            Tackling spring lawn care provides a just-right dose of fresh air, sunshine, and exercise – and sets your lawn on its way to season-long glory. Spring lawn chores aren’t difficult, but they do play a vital role in getting your grass on track for a healthy, productive season.
                        </div>
                        <div class="blog-preview-link text-right"><a href="blog-single.html"><i class="icon-move-to-next"></i><i class="icon-move-to-next"></i><i class="icon-move-to-next"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="blog-preview animation" data-animation="fadeInRight" data-animation-delay="0.5s">
                    <div class="blog-preview-image">
                        <img src="images/img-blog-preview-3.jpg" alt="">
                    </div>
                    <div class="blog-preview-text">
                        <div class="blog-post-title">
                            Get 25% OFF on Your First Service
                        </div>
                        <div class="blog-preview-date">
                            April 27, 2017
                        </div>
                        <div class="blog-preview-teaser">
                            Sign up for an annual Lawn Care or Mosquito Control Program and get 25% OFF on your first service. The truth is, lawn care is a complex science. But many homeowners rely on trial and error and end up frustrated, never reaching their lawn goals.
                        </div>
                        <div class="blog-preview-link text-right"><a href="blog-single.html"><i class="icon-move-to-next"></i><i class="icon-move-to-next"></i><i class="icon-move-to-next"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>