<section class="sidebar">
    <ul class="menu simple">
        <li>
            <a href="https://github.com/DangRom/LeGiaGrass" title="LGG Code Github" target="_blank" class="icon">
                <i class="fa fa-github fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/" title="LGG Twitter" target="_blank" class="icon">
                <i class="fa fa-twitter fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/ChadMRamos" title="LGG Facebook" target="_blank" class="icon">
                <i class="fa fa-facebook fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="https://google.com/" title="LGG Twitter" target="_blank" class="icon">
                <i class="fa fa-google-plus fa-2x"></i>
            </a>
        </li>
    </ul>
</section>