@model LeGiaGrass.Models.FooterViewModel

<!--Footer-->
<footer class="footer">
    <div class="footer__top">
        <div class="container">
        </div>
    </div>
    <div class="footer__column-links">
        <div class="back-to-top"><a href="#top"><span class="icon-tree"></span></a></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3"> <img src="~/images/guarantee.png" class="img-responsive" alt="" /> </div>
                <div class="col-sm-6 col-md-3 mobile-collapse">
                    <h5 class="title mobile-collapse__title">Information </h5>
                    <div class="v-links-list mobile-collapse__content">
                        <ul>
                            <li><a href="maintenance.html">FAQ</a></li>
                            <li><a href="contact.html">Locations</a></li>
                            <li><a href="about.html">Testimonials</a></li>
                            <li><a href="about.html">Careers</a></li>
                            <li><a href="about.html">Partners</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mobile-collapse">
                    <h5 class="title mobile-collapse__title">Service</h5>
                    <div class="v-links-list mobile-collapse__content">
                        <ul>
                            <li><a href="sitemap.html">Site Map</a></li>
                            <li><a href="about.html">Privacy</a></li>
                            <li><a href="about.html">Terms of Use</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mobile-collapse mobile-collapse--last">
                    <h5 class="title mobile-collapse__title">Company Info</h5>
                    <div class="v-links-list mobile-collapse__content">
                        <ul>
                            <li>51 St. Black Road Raleigh</li>
                            <li><a href="mailto:lawncare@websitename.org">lawncare@websitename.org</a></li>
                            <li>Mon - Sun, 24/7</li>
                            <li>+1 800 543 2100</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="pull-right col-sm-6 col-md-3 col-lg-3">
                <div class="social-links">
                    <ul>
                        <li>
                            <a class="icon icon-twitter-logo-button" href="#"></a>
                        </li>
                        <li>
                            <a class="icon icon-facebook-logo-button" href="#"></a>
                        </li>
                        <li>
                            <a class="icon icon-google-plus" href="#"></a>
                        </li>
                        <li>
                            <a class="icon icon-instagram-logo" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pull-right col-sm-6 col-md-5 col-lg-4">
                <div class="phone">
                    <div><span class="custom-color hidden-xs">CALL US: </span> <span class="phone-number">+1 800 543 2100</span><i class="icon icon-telephone"></i></div>
                    <div class="phone-sm">7 Days a week from 9:00 am to 7:00 pm</div>
                </div>
            </div>
            <div class="pull-left col-sm-12 col-md-3 col-lg-4">
                <div class="copyright">© 2016 <a href="#">Le Gia Grass</a>.</div>
            </div>
        </div>
    </div>
</footer>