@model IEnumerable<LeGiaGrass.Models.ServiceHomeViewModel>

<div class="services-block">
@foreach(var service in Model)
{
     <a href="/service/@service.Alias" class="service iconmove light">
                <div class="service-image"><img src="@service.Image" alt="#"></div>
                <div class="caption">
                    <div class="vert-wrap">
                        <div class="vert">
                            <!--<div class="service-icon"><i class="icon first icon-gardener"></i></div>-->
                            <div class="service-title">@service.Name</div>
                            <div class="service-text">@service.ShortDescription</div>
                        </div>
                    </div>
                </div>
            </a>
}
