<div class="row expanded">
    <div class="large-3 columns">
        <div class="admin-canvas-content">
            <pc-loader [loading]="loading"></pc-loader>
            <div class="row">
                <div class="large-12 columns">
                    <div class="clearfix">
                        <button class="button tiny secondary float-right"
                                (click)="companyService.create()">
                            Add
                        </button>
                    </div>
                    <ul class="admin-collection-list">
                        <li *ngFor="let company of companyService.getAll()"
                            [class.selected]="company.id === companyService.getCurrent().id"
                            (click)="companyService.setCurrent(company.id)&&show =(!show?true:show)">
                            <span>{{ company.name }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="show" class="large-9 columns">
        <div class="admin-canvas-content">
            <pc-loader [loading]="loading"></pc-loader>
            <div class="row">
                <div class="large-12 columns">
                    <div class="clearfix">
                        <span class="record-id">Id: {{companyService.getCurrent().id}}</span>
                        <button class="button secondary float-right save"
                                (click)="save()">
                            Save
                        </button>
                    </div>
                    <label>
                        Name
                        <input type="text" 
                               [(ngModel)]="companyService.getCurrent().name">
                    </label>
                    <label>
                        Sologan
                        <input type="text"
                               [(ngModel)]="companyService.getCurrent().sologan">
                    </label>
                    <label>
                        Hotline
                        <input type="text"
                               [(ngModel)]="companyService.getCurrent().hotline">
                    </label>
                    <label>
                        Email
                        <input type="text"
                               [(ngModel)]="companyService.getCurrent().email">
                    </label>
                    <label>
                        Website
                        <input type="text" 
                               [(ngModel)]="companyService.getCurrent().website">
                    </label>
                    <label>
                        Time Work
                        <input type="text" 
                               [(ngModel)]="companyService.getCurrent().timeWork">
                    </label>
                    <label>
                        Address
                        <input type="text"
                               [(ngModel)]="companyService.getCurrent().address">
                    </label>
                    <label>
                        Logo
                        <input type="text"
                               [(ngModel)]="companyService.getCurrent().logo">
                    </label>
                    <label>
                        Avatar
                        <input type="text"
                               [(ngModel)]="companyService.getCurrent().avatar">
                    </label>
                    <label>
                        About
                        <textarea [(ngModel)]="companyService.getCurrent().about.content"
                                  *ngIf="companyService.getCurrent()"></textarea>
                    </label>
                    <label>
                        Privacy
                        <textarea [(ngModel)]="companyService.getCurrent().privacy.content"
                                  *ngIf="companyService.getCurrent()"></textarea>
                    </label>
                    <label>
                        Terms Of Use
                        <textarea [(ngModel)]="companyService.getCurrent().termsOfUse.content"
                                  *ngIf="companyService.getCurrent()"></textarea>
                    </label>
                    <label>
                        Facebook
                        <input type="text" 
                               [(ngModel)]="companyService.getCurrent().facebook">
                    </label>
                    <label>
                        Twitter
                        <input type="text" 
                               [(ngModel)]="companyService.getCurrent().twitter">
                    </label>
                    <label>
                        Google
                        <input type="text" 
                               [(ngModel)]="companyService.getCurrent().google">
                    </label>
                    <label>
                        LinkedIn
                        <input type="text" 
                               [(ngModel)]="companyService.getCurrent().linkedIn">
                    </label>
                    <label>
                        Instagram
                        <input type="text" 
                               [(ngModel)]="companyService.getCurrent().instagram">
                    </label>
                    <label>
                        Pinterest
                        <input type="text" 
                               [(ngModel)]="companyService.getCurrent().pinterest">
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>