<section class="content content--fill content--fill--light top-null">
    <div class="container">
        <div class="row">
            <div class="col-md-8 animation" data-animation="fadeIn" data-animation-delay="0.6s">
                <h2 class="text-center lined">Video Presentation </h2>
                <div class="video-responsive">
                    <iframe src="http://www.youtube.com/embed/-PWxUQCNGtg?wmode=opaque" allowfullscreen></iframe>
                </div>
            </div>
            <div class="divider divider--md visible-sm visible-xs"></div>
            <div class="col-md-4 animation" data-animation="fadeIn" data-animation-delay="0.9s">
                <h2 class="text-center lined">Why Choose Us?</h2>
                <p>The single biggest difference between Lawn Care and other lawn care providers boils down to one simple premise: we care more. It’s the kind of caring that can only come from being the business owner. One that lives, works, and is a part of the community they serve.</p>
                <ul class="marker-list-sm">
                    <li>We have the highest customer retention rate in the industry.</li>
                    <li>We have 50 years of experience.</li>
                    <li>We have the highest TrustPilot score in the industry.</li>
                    <li>We’re locally owned, so there’s no big business “run-around”.</li>
                    <li>We offer the best guarantee in the business: If you’re not 100% satisfied – we’ll make it right. It’s that simple.</li>
                </ul>
            </div>
        </div>
    </div>
</section>