@model LeGiaGrass.Models.CompanyViewModel

<div class="navbar-header">
    <div class="container">
        <button type="button" class="navbar-toggle" id="slide-nav"><i class="icon icon-menu"></i></button>
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <!--  Logo  -->
                <a class="logo" href="index.html"> <img class="logo-default" src="~/images/logo.png" alt="" /> <img class="logo-mobile" src="images/logo.png" alt="" /> </a>
                <!-- End Logo -->
            </div>
            <div class="visible-lg col-lg-3">
                <div class="slogan"> Quality work you Can Trust! </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="phone">
                    <div><span class="custom-color hidden-xs">CALL US: </span> <span class="phone-number">+1 800 543 2100</span><i class="icon icon-telephone"></i></div>
                    <div class="phone-sm hidden-xs">7 Days a week from 9:00 am to 7:00 pm</div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-2">
                <div class="social-links">
                    <ul>
                        <li>
                            <a class="icon icon-twitter-logo-button" href="#"></a>
                        </li>
                        <li>
                            <a class="icon icon-facebook-logo-button" href="#"></a>
                        </li>
                        <li>
                            <a class="icon icon-google-plus" href="#"></a>
                        </li>
                        <li>
                            <a class="icon icon-instagram-logo" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header__search"> <a href="#" class="search-open"><span class="icon icon-magnifying-glass"></span></a> </div>
    </div>
</div>