@model IEnumerable<LeGiaGrass.Models.GalleryHomeViewModel>

<h2 class="text-center lined">Thư Viện Ảnh</h2>
<div class="container">
    <div class="gallery gallery-isotope" id="gallery">
        @foreach(var gallery in Model)
        {
            <div class="gallery__item category6 category_All">
                <div class="gallery__item__image"> <img src="@gallery.Image" alt="" /> <a class="btn btn--round" href="@gallery.Image"><span class="icon icon-magnifying-glass"></span></a> </div>
            </div>
        }
        <!--<div class="gallery__item doubleW doubleH category5 category3">
            <div class="gallery__item__image"> <img src="images/gallery/gallery-img-14.jpg" alt="" /> <a class="btn btn--round" href="images/gallery/gallery-img-14.jpg"><span class="icon icon-magnifying-glass"></span></a> </div>
        </div>
        <div class="gallery__item category6 category2">
            <div class="gallery__item__image"> <img src="images/gallery/gallery-img-15.jpg" alt="" /> <a class="btn btn--round" href="images/gallery/gallery-img-15.jpg"><span class="icon icon-magnifying-glass"></span></a> </div>
        </div>
        <div class="gallery__item category6 category1">
            <div class="gallery__item__image"> <img src="images/gallery/gallery-img-16.jpg" alt="" /> <a class="btn btn--round" href="images/gallery/gallery-img-16.jpg"><span class="icon icon-magnifying-glass"></span></a> </div>
        </div>
        <div class="gallery__item category4">
            <div class="gallery__item__image"> <img src="images/gallery/gallery-img-17.jpg" alt="" /> <a class="btn btn--round" href="images/gallery/gallery-img-17.jpg"><span class="icon icon-magnifying-glass"></span></a> </div>
        </div>
        <div class="gallery__item category6 category2">
            <div class="gallery__item__image"> <img src="images/gallery/gallery-img-18.jpg" alt="" /> <a class="btn btn--round" href="images/gallery/gallery-img-18.jpg"><span class="icon icon-magnifying-glass"></span></a> </div>
        </div>
        <div class="gallery__item category1">
            <div class="gallery__item__image"> <img src="images/gallery/gallery-img-03.jpg" alt="" /> <a class="btn btn--round" href="images/gallery/gallery-img-03.jpg"><span class="icon icon-magnifying-glass"></span></a> </div>
        </div>
        <div class="gallery__item category2">
            <div class="gallery__item__image"> <img src="images/gallery/gallery-img-04.jpg" alt="" /> <a class="btn btn--round" href="images/gallery/gallery-img-04.jpg"><span class="icon icon-magnifying-glass"></span></a> </div>
        </div>-->
    </div>
</div>

