@model  LeGiaGrass.Models.ContactViewModel
@{
    var company = (LeGiaGrass.Models.CompanyViewModel)ViewBag.Company;
}
<div class="contact-info">
						<div class="row">
							<div class="col with-icon">
								<div class="contact-info-title"><i class="icon icon-nature-2"></i>Địa Chỉ</div>
								<p>@company.Address</p>
							</div>
							<div class="col">
								<div class="contact-info-title">Gọi Chúng Tôi</div>
								<p>@company.Hotline <i class="icon icon-telephone"></i></p>
							</div>
							<div class="col with-icon noline">
								<div class="contact-info-title"><i class="icon icon-phone-auricular"></i>Thời Gian Làm Việc</div>
								<p>@company.BusinessHours</p>
							</div>
							<div class="col text-center">
								<div class="form-popup-wrap">
									<a href="/about" class="btn btn--wd btn--md btn--invert">Thêm thông tin</a>
									<div class="form-popup form-popup--right">
									</div>
								</div>
							</div>
						</div>
					</div>