@inject Microsoft.Extensions.PlatformAbstractions.ApplicationEnvironment Application
<footer class="main">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <p class="heading">CONTACT SUPPORT</p>
                <p class="email">
                    <a href="mailto:phamtandang@gmail.com">Drop a line for us</a>
                </p>
                <p class="chad">
                    Developed by <a href="mailto:admin@bravohex.com" title="bravohex">bravohex</a>.
                </p>
                <p class="copy">&copy; Copyright @DateTime.Now.Year - All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>