@using Microsoft.AspNetCore.Identity
@using LGG.Core.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Admin/Account" asp-action="LogOff" method="post" id="logoutForm">
        <button type="submit" class="button nav-main-log-off">Thoát</button>
    </form>
}