@model LeGiaGrass.Models.AboutHomeViewModel

<section class="content content--fill content--fill--light top-null">
				<div class="container">
                            @Html.Raw(Model.Description)
				</div>
</section>