@*@model IEnumerable<LeGiaGrass.Models.ServiceViewModel>*@

<h2 class="text-center lined">About Us</h2>
<p class="text-center info-text">Starting out with just a single truck and mower, we have expanded our services and grown into one of the largest lawn maintenance companies in our area. Our expansion and stellar reputation is due, in part, to our exceptional reputation for quality and timely service. Our lawn care technicians utilize the latest technology and techniques to deliver beautiful results that will stand the test of time.</p>

<div class="row">
    <div class="col-sm-6 animation" data-animation="fadeInLeft" data-animation-delay="0.5s">
        <div class="text-icon__title">Our Mission</div>
        <div class="text-icon last">
            <div class="text-icon__icon"><i class="icon icon-nature-2"></i></div>
            <div class="text-icon__info">
                <p>Our mission is to provide our customers with the highest level of quality services. We pledge to establish lasting relationships with our clients by exceeding their expectations and gaining their trust through exceptional performance. </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 animation" data-animation="fadeInRight" data-animation-delay="0.5s">
        <div class="text-icon__title">Our Clients</div>
        <div class="text-icon last">
            <div class="text-icon__icon"><i class="icon icon-construction-worker"></i></div>
            <div class="text-icon__info">
                <p>Our clients count on our dependability, our drive, and our integrity and we take great pride in our accomplishments and build on them every day.</p>
            </div>
        </div>
    </div>
</div>
