@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<LGG.Core.Dtos.galleryDto>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-box-header panel-heading">
    <div class="panel-title ">Danh sách chủ đề</div>
</div>
<div class="content-box-large box-with-header">
    <a href="/admin/categories/new"><input type="button" class="btn btn-primary" value="Thêm mới" /></a>
    <br /><br />
    <table id="tablesource" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Tên</th>
                <th>Url</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Tên</th>
                <th>Url</th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Name</td>
                    <td>@m.Url</td>
                    <td style="text-align: right">
                        <a class="btn btn-primary fa fa-pencil" href="/admin/categories/update/@m.CategoryId"></a>
                        <a class="btn btn-danger fa fa-trash-o" onclick="del(@m.CategoryId)"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br /><br />
</div>

@section scripts{
    <script type="text/javascript">
        function del(id){
        var c = confirm("Bạn có chắc là không muốn hiển chủ đề này ?");
            if(c){
                $.ajax({
                    url: "/admin/categories/delete/" + id,
                    type: "DELETE",
                    dataType: 'json',
                    success: function(mess){
                        window.location.reload();
                    },
                    error: function(error){
                        alert(error);
                    }
                })
            }
        };
    </script>
}