<section class="post-author">
    <div class="row">
        <div class="large-2 columns">
            <div class="image-box">
                <img src="/images/me300.png" alt="LGG" class="circle" />
            </div>
        </div>
        <div class="large-10 columns">
            <div class="details-box clearfix">
                <h2 class="float-left">LGG</h2>
                <ul class="float-left simple menu">
                    <li>
                        <a href="https://github.com/DangRom/LeGiaGrass" title="LGG Code Github" target="_blank" class="icon">
                            <i class="fa fa-github fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" title="LGG Twitter" target="_blank" class="icon">
                            <i class="fa fa-twitter fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" title="LGG Facebook" target="_blank" class="icon">
                            <i class="fa fa-facebook fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://google.com/" title="LGG Twitter" target="_blank" class="icon">
                            <i class="fa fa-google-plus fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <p>
                LGG is a <a href="https://www.google.com/maps/place/vietnam" target="_blank" title="Vietnam">Vietnam-based</a> software developer and founder of <a href="http://legiagrass.com" title="LGG" target="_blankd">legiagrass.com</a>.
            </p>
        </div>
    </div>
</section>