@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<LGG.Core.Dtos.PostDto>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-box-header panel-heading">
    <div class="panel-title ">Danh Sách Bài Viết</div>
</div>
<div class="content-box-large box-with-header">
    <a href="/admin/posts/new"><input type="button" class="btn btn-primary" value="Thêm mới" /></a>
    <br /><br />
    <table id="tablesource" class="display" cellspacing="0">
        <thead>
            <tr>
                <th>Tên Bài Viết</th>
                <th>Chủ Đề</th>
                <th>Xuất Bản</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Tên Bài Viết</th>
                <th>Chủ Đề</th>
                <th>Xuất Bản</th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var m in Model)
            {
                <tr id="row@(m.PostId)">
                    <td>@m.Title</td>
                    <td>@m.Category.Name</td>
                    <td class="checkbox">@m.Published</td>
                    <td style="text-align: right">
                        <a class="btn btn-primary fa fa-pencil" href="/admin/posts/update/@m.PostId"></a>
                        <a class="btn btn-danger fa fa-trash-o" onclick="del(@m.PostId)"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br /><br />
</div>

@section scripts{
    <script type="text/javascript">
        function del(id) {
            //var c = confirm("Bạn có chắc muốn xóa bài viết này không?");
            //if (c) {
            //    $.ajax({
            //        url: "/admin/post/delete/" + url,
            //        type: "DELETE",
            //        dataType: 'json',
            //        success: function (mess) {
            //            window.location.reload();
            //        },
            //        error: function (error) {
            //            alert(error);
            //        }
            //    })
            //}

            bootbox.dialog({
                message: "Bạn có chắc muốn xóa vĩnh viễn bài viết này không?",
                title: "Cảnh báo",
                buttons: {
                    no: {
                        label: "KHÔNG XÓA",
                        className: "btn-default",
                        callback: function () {
                            bootbox.hideAll();
                        }
                    },
                    yes: {
                        label: "Có",
                        className: "btn-danger",
                        callback: function () {
                            $.ajax({
                                url: "/api/posts/" + id,
                                method: "DELETE"
                            })
                                .done(function () {
                                    //link.parents(".admin-collection-list li").fadeOut(function () {
                                    //    $(this).remove();
                                    //});
                                    $("#row" + id).remove();
                                })
                                .fail(function () {
                                    alert("Something failed!");
                                });
                        }
                    }
                }
            });
        };
    </script>
}