<div class="row expanded">
    <div class="large-3 columns">
        <div class="admin-canvas-content">
            <pc-loader [loading]="loading"></pc-loader>
            <div class="row">
                <div class="large-12 columns">
                    <div class="clearfix">
                        <button class="button tiny secondary float-right"
                                (click)="companyService.create()">
                            Add
                        </button>
                    </div>
                    <ul class="admin-collection-list">
                        <li *ngFor="let company of companyService.getAll()"
                            [class.selected]="company.id === companyService.getCurrent().id"
                            (click)="companyService.setCurrent(company.id)">
                            <span>{{ company.name }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="large-9 columns">
        <div class="admin-canvas-content">
            <pc-loader [loading]="loading"></pc-loader>
            <div class="row">
                <div class="large-12 columns">
                    <div class="clearfix">
                        <span class="record-id">Id: {{companyService.getCurrent().id}}</span>
                        <button class="button secondary float-right save"
                                (click)="save(companyService.getCurrent().id)">
                            Save
                        </button>
                    </div>
                    <label>
                        Name
                        <input type="text"
                               [(ngModel)]="companyService.getCurrent().name">
                    </label>
                    <label>
                        Url
                        <input type="text"
                               [(ngModel)]="companyService.getCurrent().hotline">
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>