@inject Microsoft.Extensions.PlatformAbstractions.ApplicationEnvironment Application
<footer class="main">
    <div class="content">
        <div class="row">
            <div class="large-6 columns">
                <p class="heading">CONTACT US</p>
                <p class="email">
                    <a href="mailto:admin@bravohex.com">admin@bravohex.com</a>
                </p>
                <p class="chad">
                    Designed and Developed by <a href="mailto:admin@bravohex.com" title="LGG">LGG</a>.
                </p>
                <p class="copy">&copy; Copyright @DateTime.Now.Year - All Rights Reserved</p>
            </div>
            <div class="large-3 columns">
                <p class="heading">FOLLOW ME @@</p>
                <ul class="menu simple">
                    <li>
                        <a href="https://github.com/DangRom/LeGiaGrass" title="LGG Code Github" target="_blank" class="icon">
                            <i class="fa fa-github fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" title="LGG Twitter" target="_blank" class="icon">
                            <i class="fa fa-twitter fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ChadMRamos" title="LGG Facebook" target="_blank" class="icon">
                            <i class="fa fa-facebook fa-2x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/" title="LGG Google+" target="_blank" class="icon">
                            <i class="fa fa-google-plus fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="large-3 columns">
                <ul class="menu vertical">
                    <li>
                        <a href="/about">
                            ABOUT
                        </a>
                    </li>
                    <li>
                        <a href="/blog">
                            BLOG
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            CONTACT
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>