<!DOCTYPE html>
<html lang="vi">

<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <title>Le Gia - Grass</title>
    <meta name="keywords" content="LeGia Grass" />
    <meta name="description" content="Le Gia Services">
    <meta name="author" content="legiagrass.com">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon Fonts  -->
    <link rel="stylesheet" href="fonts/style.css">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="vendor/waves/waves.css">
    <link rel="stylesheet" href="vendor/slick/slick.css">
    <link rel="stylesheet" href="vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="vendor/rs-plugin/css/settings.css" media="screen" />
    <!-- Head Libs -->
    <!--[if IE]>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="vendor/respond/respond.js"></script>
    <script src="vendor/excanvas/excanvas.js"></script>
    <![endif]-->
    <!-- Vendor -->
    <!-- jQuery 1.10.1-->
    <script src="~/vendor/jquery/jquery.js"></script>
    <!-- Bootstrap 3-->
    <script src="~/vendor/bootstrap/bootstrap.min.js"></script>
    <!-- Modernizr -->
    <script src="~/vendor/modernizr/modernizr.js"></script>
</head>
<body class="index">
    <div id="loader-wrapper" class="loader-on">
        <div id="loader" class="mower-loader">
            <div class="mower"> <img src="images/lawnmower.png" alt=""> </div>
            <div class="grass"></div>
            <div class="text">Loading...</div>
        </div>
    </div>

    <!-- Modal Search -->
    <div class="overlay overlay-scale">
        <button type="button" class="overlay-close"> ✕ </button>
        <div class="overlay__content">
            <form id="search-form" class="search-form outer" action="#" method="post">
                <div class="input-group input-group--wd">
                    <input type="text" class=" input--full" placeholder="search text here ...">
                </div>
                <button class="btn btn--wd text-uppercase wave waves-effect">Search</button>
            </form>
        </div>
    </div>
    <!-- / end Modal Search -->

    <div class="wrapper">
        <!-- Header section -->
        <header class="header header--max header--sticky">
            <nav class="navbar navbar-wd" id="navbar">
                <div class="navbar-header">
                    <div class="container">
                        <button type="button" class="navbar-toggle" id="slide-nav"><i class="icon icon-menu"></i></button>
                        <div class="row">
                            <div class="col-sm-3 col-lg-3">
                                <!--  Logo  -->
                                <a class="logo" href="index.html"> <img class="logo-default" src="images/logo.png" alt="" /> <img class="logo-mobile" src="images/logo.png" alt="" /> </a>
                                <!-- End Logo -->
                            </div>
                            <div class="visible-lg col-lg-3">
                                <div class="slogan"> Chất lượng như bạn mong muốn! </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="phone">
                                    <div><span class="custom-color hidden-xs">GỌI NGAY: </span> <span class="phone-number">+84 123 456 789</span><i class="icon icon-telephone"></i></div>
                                    <div class="phone-sm hidden-xs">7 Ngày một tuần từ 8:00 am to 7:00 pm</div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-2">
                                <div class="social-links">
                                    <ul>
                                        <li>
                                            <a class="icon icon-twitter-logo-button" href="#"></a>
                                        </li>
                                        <li>
                                            <a class="icon icon-facebook-logo-button" href="#"></a>
                                        </li>
                                        <li>
                                            <a class="icon icon-instagram-logo" href="#"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="header__search"> <a href="#" class="search-open"><span class="icon icon-magnifying-glass"></span></a> </div>
                    </div>
                </div>
                <div id="slidemenu">
                    <div class="slidemenu-close visible-xs">✕</div>
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.html"><span class="link-name">Trang Chủ</span></a></li>
                            <li>
                                <a href="services.html" class="dropdown-toggle"><span class="link-name">Dịch Vụ</span><span class="caret icon-angle-down"></span></a>
                                <ul class="dropdown-menu animated fadeIn" role="menu">
                                    <li>
                                        <a href="service-page-1.html">lawn service</a>
                                        <ul class="submenu">
                                            <li class="level2"><a href="service-page-1.html">trimming edge</a></li>
                                            <li class="level2"><a href="service-page-1.html">clean up</a></li>
                                            <li class="level2"><a href="service-page-1.html">blowing</a></li>
                                            <li class="level2"><a href="service-page-1.html">weeding</a></li>
                                            <li class="level2"><a href="service-page-1.html">moving</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="service-page-2.html">tree service</a></li>
                                    <li><a href="service-page-3.html">landscape design services</a></li>
                                    <li><a href="service-page-4.html">leaf removal</a></li>
                                    <li><a href="service-page-5.html">Snow Removal</a></li>
                                    <li><a href="service-page-6.html">Junk Removal</a></li>
                                    <li><a href="service-page-7.html">New tree planting</a></li>
                                    <li><a href="service-page-8.html">Sod service</a></li>
                                    <li><a href="service-page-9.html">Retaining walls</a></li>
                                    <li><a href="service-page-10.html">Patio and fire pit pavers</a></li>
                                    <li><a href="service-page-11.html">Yard work</a></li>
                                    <li><a href="service-page-12.html">Excavation</a></li>
                                </ul>
                            </li>
                            <li><a href="pricing.html"><span class="link-name">Giá</span></a></li>
                            <li>
                                <a href="#"><span class="link-name">Blog</span></a>
                            </li>
                            <li><a href="about.html"><span class="link-name">Thông Tin</span></a></li>
                            <li><a href="#"><span class="link-name">Liên Hệ</span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- End Header section -->

        <div id="pageContent" class="page-content">
            @RenderBody()
        </div>

        <footer class="footer">
            <div class="footer__top">
                <div class="container">
                    <form id="estimate-form" class="estimate-form" action="#" method="post">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="title">Free Estimate</div>
                            </div>
                            <div class="col-md-3">
                                <div>I want </div>
                                <div class="select-wrapper select--full">
                                    <select class="select--wd">
                                        <option>Lawn Service</option>
                                        <option>Landscape Service</option>
                                        <option>Leaf Removal Service</option>
                                        <option>Snow Removal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div>at</div>
                                <input type="text" class="subscribe-form__input input--wd input--full" placeholder="Property address">
                            </div>
                            <div class="col-md-2">
                                <div>&nbsp;</div>
                                <button class="btn btn--wd">GET MY PRICE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer__column-links">
                <div class="back-to-top"><a href="#top"><span class="icon-tree"></span></a></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3"> <img src="images/guarantee.png" class="img-responsive" alt="" /> </div>
                        <div class="col-sm-6 col-md-3 mobile-collapse">
                            <h5 class="title mobile-collapse__title">Thông Tin </h5>
                            <div class="v-links-list mobile-collapse__content">
                                <ul>
                                    <li><a href="maintenance.html">FAQ</a></li>
                                    <li><a href="contact.html">Đỉa Điểm</a></li>
                                    <li><a href="about.html">Chứng Nhận</a></li>
                                    <li><a href="about.html">Tuyển Dụng</a></li>
                                    <li><a href="about.html">Đối Tác</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 mobile-collapse">
                            <h5 class="title mobile-collapse__title">Service</h5>
                            <div class="v-links-list mobile-collapse__content">
                                <ul>
                                    <li><a href="sitemap.html">Site Map</a></li>
                                    <li><a href="about.html">Chính Sách</a></li>
                                    <li><a href="about.html">Điều Khoản Sử Dụng</a></li>
                                    <li><a href="contact.html">Liên Hệ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 mobile-collapse mobile-collapse--last">
                            <h5 class="title mobile-collapse__title">Công Ty</h5>
                            <div class="v-links-list mobile-collapse__content">
                                <ul>
                                    <li>51 St. Black Road Raleigh</li>
                                    <li><a href="mailto:lawncare@websitename.org">lawncare@websitename.org</a></li>
                                    <li>Mon - Sun, 24/7</li>
                                    <li>+84 123 456 789</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="container">
                    <div class="pull-right col-sm-6 col-md-3 col-lg-3">
                        <div class="social-links">
                            <ul>
                                <li>
                                    <a class="icon icon-twitter-logo-button" href="#"></a>
                                </li>
                                <li>
                                    <a class="icon icon-facebook-logo-button" href="#"></a>
                                </li>
                                <li>
                                    <a class="icon icon-instagram-logo" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pull-right col-sm-6 col-md-5 col-lg-4">
                        <div class="phone">
                            <div><span class="custom-color hidden-xs">GỌI NGAY: </span> <span class="phone-number">+84 123 456 789</span><i class="icon icon-telephone"></i></div>
                            <div class="phone-sm">7 Ngày một tuần từ 8:00 am to 7:00 pm</div>
                        </div>
                    </div>
                    <div class="pull-left col-sm-12 col-md-3 col-lg-4">
                        <div class="copyright">© 2017 <a href="#">Le Gia Grass</a>.</div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <environment names="Development">

        <!-- Specific Page Vendor -->
        <script src="~/vendor/waves/waves.min.js"></script>
        <script src="~/vendor/slick/slick.min.js"></script>
        <script src="~/vendor/parallax/jquery.parallax-1.1.3.js"></script>
        <script src="~/vendor/waypoints/jquery.waypoints.min.js"></script>
        <script src="~/vendor/waypoints/sticky.min.js"></script>
        <script src="~/vendor/doubletaptogo/doubletaptogo.js"></script>
        <script src="~/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="~/vendor/isotope/isotope.pkgd.min.js"></script>
        <script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
        <!-- jQuery form validation -->
        <script src="~/vendor/form/jquery.form.js"></script>
        <script src="~/vendor/form/jquery.validate.min.js"></script>
        <!-- Custom -->
        <script src="~/js/custom.js"></script>
    </environment>
    <environment names="Staging,Production">
        <!-- Vendor -->
        <!-- jQuery 1.10.1-->
        <script src="~/vendor/jquery/jquery.js"></script>
        <!-- Bootstrap 3-->
        <script src="vendor/bootstrap/bootstrap.min.js"></script>
        <!-- Specific Page Vendor -->
        <script asp-append-version="true" src="~/vendor/waves/waves.min.js"></script>
        <script asp-append-version="true" src="~/vendor/slick/slick.min.js"></script>
        <script asp-append-version="true" src="~/vendor/parallax/jquery.parallax-1.1.3.js"></script>
        <script asp-append-version="true" src="~/vendor/waypoints/jquery.waypoints.min.js"></script>
        <script asp-append-version="true" src="~/vendor/waypoints/sticky.min.js"></script>
        <script asp-append-version="true" src="~/vendor/doubletaptogo/doubletaptogo.js"></script>
        <script asp-append-version="true" src="~/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script asp-append-version="true" src="~/vendor/isotope/isotope.pkgd.min.js"></script>
        <script asp-append-version="true" src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
        <!-- jQuery form validation -->
        <script asp-append-version="true" src="~/vendor/form/jquery.form.js"></script>
        <script asp-append-version="true" src="~/vendor/form/jquery.validate.min.js"></script>
        <!-- Custom -->
        <script asp-append-version="true" src="~/js/custom.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>