@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scriptHead
{

}

@section loaderWrapper
{
    <div id="loader-wrapper" class="loader-on">
        <div id="loader">
            <div class="spinner"> <span class="ball-1"></span> <span class="ball-2"></span> <span class="ball-3"></span> <span class="ball-4"></span> </div>
        </div>
    </div>
}

@RenderBody()

@section footerPart
{

}

@RenderSection("Scripts", required: false)