@model IEnumerable<LeGiaGrass.Models.MenuViewModel>

<div id="slidemenu">
    <div class="slidemenu-close visible-xs">✕</div>
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/"><span class="link-name">Home</span></a></li>
            <li>
                <a href="#" class="dropdown-toggle"><span class="link-name">Dịch Vụ</span><span class="caret icon-angle-down"></span></a>
                <ul class="dropdown-menu animated fadeIn" role="menu">
                   @foreach(var menu in Model)
                   {
                       <li><a href="/service/@menu.Alias">@menu.Name</a></li>
                   }
                </ul>
            </li>
            <li><a href="/blog"><span class="link-name">Tin Tức</span></a></li>
            <li><a href="/about"><span class="link-name">Thông Tin</span></a></li>
            <li><a href="/contact"><span class="link-name">Liên Hệ</span></a></li>
        </ul>
    </div>
</div>
   
