
@{
    ViewBag.Title = "Về Chúng Tôi";
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
    var company = (CompanyDto)ViewBag.Company;
}

<section class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb--wd pull-left">
            <li><a href="index.html">Trang Chủ</a></li>
            <li class="active">@AboutType.About.GetDescription()</li>
        </ol>
    </div>
</section>

<!-- Content section -->
<section class="content content--fill content--fill--light top-null">

    <div class="container">
        <h1 class="text-center lined">Về Chúng Tôi</h1>
        <div class="row">
            <div class="col-md-12 column-center">
                @Html.Raw(company.About?.Content)
            </div>
        </div>
    </div>
</section>
<!-- End Content section -->
